@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>At ______________ we're committed to helping all future missionaries, both those with or without calls, prepare themselves for missionary service</p>
<p>We're headquartered in Provo, Utah and have access to the biggest and best source of RM's, BYU!</p>
