@{
    ViewBag.Title = "Home Page";
}

<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>

<div class="jumbotron">
    <h1>Called to Serve</h1>
    <p class="lead">You are anxious to serve, let us help you prepare.</p>
    <!--<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View Your Mission</h2>
        <p>
            Visit your mission page to see the info about your mission
        </p>
        @Html.ActionLink("View Missions", "Missions", "Mission", null, new { @class = "btn btn-primary btn-lg" })
        
    </div>
    <div class="col-md-4">
        <h2>Missionary Quote</h2>
        <p>this is a quote</p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Video</h2>
        <p>this will be a link to a video</p>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
    </div>
</div>